apiVersion: v1
kind: Service
metadata:
  name: product-service
  labels:
    app: product-service
    service: product-service
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "actuator/prometheus"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8083
    name: http
  selector:
    app: product-service
