apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: product-service
  labels:
    app: product-service
    release: prometheus-operator
spec:
  selector:
    matchLabels:
      app: product-service
  endpoints:
  - port: http
    path: /actuator/prometheus
    interval: 15s
    scrapeTimeout: 10s
  namespaceSelector:
    matchNames:
    - ecommerce
